.subject-filter{
    background: #ffffff;
    height: auto;
    line-height: 30px;
    text-align: left;
    color:rgba(0, 0, 0, 0.45);
    padding-top: 10px;
    border-bottom: #e5e4e6 solid 1px;
    overflow-wrap: break-word;
    padding-right: 10%;
    padding-bottom: 10px;
}
.subject-filter-title{
    color: #5286bc;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 0%;
}
.subject-filter-display{
    display: flex;
}
.subject-filter-background {
    background: #ffffff;
}
.subject-filter-link{
    color:rgba(0, 0, 0, 0.45);
    margin-right: 50px;
    word-break: keep-all;
}
.filter-end{
    margin-bottom: 20px;
}
@media (max-width: 480px){
    .desktop{
        display: none;
    }
    .selectedType{
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.45);
    }
    .subject-filter-title{
        padding-left: 15px;
        margin-left: 15px;
        width: 345px;
        height: 50px;
        line-height: 30px;
    }
    .dropdown-icon{
        padding-left: 10px;
    }
    .subject-filter-dropdown-title{
        color: #5286bc;
    }
}
@media (min-width: 480px){
    .mobile{
        display: none;
    }
}