<div nz-row class="desktop">
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title">
    分类
  </div>
  <div nz-col nzSpan="12" class="subject-filter">
    <a class="subject-filter-link">基本信息</a>
    <a class="subject-filter-link">财务报表</a>
    <a class="subject-filter-link">业绩预期</a>
    <a class="subject-filter-link">投融资与分红</a>
    <a class="subject-filter-link">重大事项</a>
    <a class="subject-filter-link">股东与股本</a>
    <a class="subject-filter-link">沪港通</a>
    <a class="subject-filter-link">行情</a>
    <a class="subject-filter-link">因子</a>
    <a class="subject-filter-link">风险模型</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter">
  </div>
</div>
<div nz-row class="desktop">
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title brand-filter">
    品牌
  </div>
  <div nz-col nzSpan="12" class="subject-filter brand-filter">
    <a class="subject-filter-link">中诚信资讯</a>
    <a class="subject-filter-link">巨灵财经</a>
    <a class="subject-filter-link">TEJ</a>
    <a class="subject-filter-link">IVolatility</a>
    <a class="subject-filter-link">中债</a>
    <a class="subject-filter-link">通联数据</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter brand-filter">
  </div>
</div>
<div nz-row class="desktop">
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title price-filter">
    价格
  </div>
  <div nz-col nzSpan="12" class="subject-filter price-filter">
    <a class="subject-filter-link">免费</a>
    <a class="subject-filter-link">计费</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter price-filter">
  </div>
</div>
<div nz-row class="desktop">
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title format-filter">
    格式
  </div>
  <div nz-col nzSpan="12" class="subject-filter format-filter">
    <a class="subject-filter-link">api</a>
    <a class="subject-filter-link">研报</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter format-filter">
  </div>
</div>
<div nz-row class="filter-end desktop">
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title price-filter">
    更新频率
  </div>
  <div nz-col nzSpan="12" class="subject-filter price-filter">
    <a class="subject-filter-link">实时</a>
    <a class="subject-filter-link">年</a>
    <a class="subject-filter-link">月</a>
    <a class="subject-filter-link">日</a>
    <a class="subject-filter-link">季</a>
    <a class="subject-filter-link">周</a>
    <a class="subject-filter-link">半年</a>
    <a class="subject-filter-link">其他</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter price-filter">
  </div>
</div>

<div nz-row class="mobile">

  <div nz-col nzSpan="24" class="subject-filter subject-filter-title">
    <nz-dropdown>
      <a nz-dropdown class="subject-filter-dropdown-title">
          分类 <i class="anticon anticon-down dropdown-icon"></i> <span class="selectedType">{{selectedType}}</span>
      </a>
      <ul nz-menu>
        <li nz-menu-item (click)="selectType('基本信息')">基本信息</li>
        <li nz-menu-item (click)="selectType('财务报表')">财务报表</li>
        <li nz-menu-item (click)="selectType('业绩预期')">业绩预期</li>
        <li nz-menu-item (click)="selectType('投融资与分红')">投融资与分红</li>
        <li nz-menu-item (click)="selectType('重大事项')">重大事项</li>
        <li nz-menu-item (click)="selectType('股东与股本')">股东与股本</li>
        <li nz-menu-item (click)="selectType('沪港通')">沪港通</li>
        <li nz-menu-item (click)="selectType('行情')">行情</li>
        <li nz-menu-item (click)="selectType('因子')">因子</li>
        <li nz-menu-item (click)="selectType('风险模型')">风险模型</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
<div nz-row class="mobile">
  <div nz-col nzSpan="24" class="subject-filter subject-filter-title">
      <nz-dropdown>
        <a nz-dropdown class="subject-filter-dropdown-title">
            品牌 <i class="anticon anticon-down dropdown-icon"></i> <span class="selectedType">{{selectedBrand}}</span>
        </a>
        <ul nz-menu>
          <li nz-menu-item (click)="selectBrand('中诚信资讯')">中诚信资讯</li>
          <li nz-menu-item (click)="selectBrand('巨灵财经')">巨灵财经</li>
          <li nz-menu-item (click)="selectBrand('TEJ')">TEJ</li>
          <li nz-menu-item (click)="selectBrand('IVolatility')">IVolatility</li>
          <li nz-menu-item (click)="selectBrand('中债')">中债</li>
          <li nz-menu-item (click)="selectBrand('通联数据')">通联数据</li>
        </ul>
      </nz-dropdown>
    </div>
</div>
<div nz-row class="mobile">
  <div nz-col nzSpan="24" class="subject-filter subject-filter-title">
    <nz-dropdown>
      <a nz-dropdown class="subject-filter-dropdown-title">
          价格 <i class="anticon anticon-down dropdown-icon"></i> <span class="selectedType">{{selectedPrice}}</span>
      </a>
      <ul nz-menu>
        <li nz-menu-item (click)="selectPrice('免费')">免费</li>
        <li nz-menu-item (click)="selectPrice('计费')">计费</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
<div nz-row class="mobile">
  <div nz-col nzSpan="24" class="subject-filter subject-filter-title">
    <nz-dropdown>
      <a nz-dropdown class="subject-filter-dropdown-title">
          格式 <i class="anticon anticon-down dropdown-icon"></i> <span class="selectedType">{{selectedFormat}}</span>
      </a>
      <ul nz-menu>
        <li nz-menu-item (click)="selectFormat('免费')">api</li>
        <li nz-menu-item (click)="selectFormat('计费')">研报</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
<div nz-row class="filter-end mobile">
  <div nz-col nzSpan="24" class="subject-filter subject-filter-title">
    <nz-dropdown>
      <a nz-dropdown class="subject-filter-dropdown-title">
          更新频率 <i class="anticon anticon-down dropdown-icon"></i> <span class="selectedType">{{selectedFrequency}}</span>
      </a>
      <ul nz-menu>
        <li nz-menu-item (click)="selectFrequency('实时')">实时</li>
        <li nz-menu-item (click)="selectFrequency('年')">年</li>
        <li nz-menu-item (click)="selectFrequency('月')">月</li>
        <li nz-menu-item (click)="selectFrequency('日')">日</li>
        <li nz-menu-item (click)="selectFrequency('季')">季</li>
        <li nz-menu-item (click)="selectFrequency('周')">周</li>
        <li nz-menu-item (click)="selectFrequency('半年')">半年</li>
        <li nz-menu-item (click)="selectFrequency('其他')">其他</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
