<div *ngFor="let filter of filterList; let i=index" nz-row class="desktop subject-filter-display" [ngClass]="{'filter-end': i == filterList.length-1}">
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title">
    {{filter.subject}}
  </div>
  <div nz-col nzSpan="14" class="subject-filter">
    <a *ngFor="let subjectKey of filter.subjectKeys" class="subject-filter-link">{{subjectKey}}</a>
  </div>
</div>

<div *ngFor="let filter of filterList; let i=index" nz-row class="mobile" [ngClass]="{'filter-end': i == filterList.length-1}">
  <div nz-col nzSpan="24" class="subject-filter subject-filter-title">
    <nz-dropdown>
      <a nz-dropdown class="subject-filter-dropdown-title">
        {{filter.subject}} <i class="anticon anticon-down dropdown-icon"></i> <span class="selectedType">{{filter.subjectLebel}}</span>
      </a>
      <ul nz-menu>
        <li *ngFor="let subjectKey of filter.subjectKeys" nz-menu-item (click)="selectLabel(filter ,subjectKey)">{{subjectKey}}</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
