<nz-layout>
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <nz-affix class="rep-suspension-button">
        <button nz-button nzType="default" nzShape="circle"><i class="anticon anticon-customer-service"></i></button>
    </nz-affix>
    <nz-affix class="wechat-suspension-button">
        <button nz-button nzType="default" nzShape="circle"><i class="anticon anticon-wechat"></i></button>
    </nz-affix>
    <nz-affix class="phone-suspension-button">
        <button nz-button nzType="default" nzShape="circle"><i class="anticon anticon-phone"></i></button>
    </nz-affix>
    <router-outlet></router-outlet>
  </nz-content>
  <!-- <nz-footer>
    Footer
  </nz-footer> -->
</nz-layout>