<div nz-row>
  <div nz-col nzSpan="7" class="datashop-title">
      数据商城
  </div>
  <div nz-col nzSpan="9" class="search-container">
      <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
        <input type="text" nz-input placeholder="搜索 数据类型， 如：港股、基金、行情" class="search-input-box">
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch class="search-button"><i class="anticon anticon-search"></i></button>
      </ng-template>
  </div>
  <div nz-col nzSpan="8" class="my-data">
      <button nz-button nzSize="large" nzType="default" class="my-data-button"><i class="anticon anticon-user"></i>我的数据</button>
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="9" nzOffset="7" class="top-tab">
      研报 | 沪港通 | 电商 | 股票 | 期权 | 主题 | 新闻
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="13" nzOffset="4" class="breadcrumb-navigation">
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item class="breadcrumb">
        全部
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="breadcrumb">
        <a>沪深股票</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <nz-input-group nzSuffixIcon="anticon anticon-search" class="sub-search-input-box">
          <input type="text" nz-input placeholder="在当前条件下搜索" [nzSize]="small">
        </nz-input-group>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div nz-col nzSpan="3" class="breadcrumb-navigation products-counter">
    共267个相关数据商品
  </div>
</div>

<app-subject-filter></app-subject-filter>

<div nz-row >
  <div nz-col nzSpan="2" nzOffset="4" class="sort-list-title">
      排序方式
  </div>
  <div nz-col nzSpan="14" class="sort-list-type">
      <button nz-button nzType="default" class="sort-button">价格<i class="anticon anticon-arrow-down"></i></button>
      <button nz-button nzType="default" class="sort-button">上架日期<i class="anticon anticon-arrow-up"></i></button>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="13" nzOffset="4" class="header-page-control">
  </div>
  <div nz-col nzSpan="3" class="header-page-control">
      <nz-pagination [nzPageIndex]="1" [nzTotal]="270" nzSimple></nz-pagination>
  </div>
</div>

<app-product *ngFor="let productData of productDataList" [productData]="productData"></app-product>

<!--type component end-->
<div nz-row>
  <div nz-col nzSpan="16" nzOffset="4" class="page-control">
      <nz-pagination [(nzPageIndex)]="currentPage" [nzTotal]="270" [nzSize]="'small'" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
  </div>
</div>

