.datashop-title{
    color: #5286bc;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
    line-height: 80px;
    height: 80px;
}
.search-button{
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #5286bc;
    border-color: #5286bc;
}
.search-input-box{
    border-color: #5286bc;
}
.search-container{
    line-height: 80px;
    height: 80px;
    padding-top: 10px;
}
.my-data{
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
    line-height: 80px;
    height: 80px;
}
.my-data-button{
    border-color: #5286bc;
    border-left-color: rgb(211, 211, 211);
    color: #5286bc;
    background-color: rgb(211, 211, 211);
}
.top-tab{
    color: #4b494f;
    height: 40px;
    line-height: 30px;
    text-align: left;
}
.breadcrumb-navigation{
    background: #e5e4e6;
    height: 60px;
    line-height: 10px;
    text-align: left;
    padding-left: 40px;
    padding-top: 15px;
}
.breadcrumb{
    font-size: 16px;
}
.sub-search-input-box{
    width: 20%;
}
.header-page-control{
    background: #ffffff;
    height: 50px;
    line-height: 30px;
    text-align: left;
    color:rgba(0, 0, 0, 0.45);
    padding-top: 10px;
}

.products-counter{
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.45);
}
.sort-list-title{
    background: #e5e4e6;
    height: 50px;
    line-height: 30px;
    text-align: left;
    padding-top: 10px;
    border-bottom: #e5e4e6 solid 1px;
    color: #5286bc;
    font-size: 16px;
    padding-left: 40px;
}
.sort-list-type{
    background: #e5e4e6;
    height: 50px;
    line-height: 30px;
    text-align: left;
    padding-top: 10px;
    border-bottom: #e5e4e6 solid 1px;
}
.sort-button{
    background: #e5e4e6;
    border: 0px;
    margin-right: 5px;
}
.page-control{
    background: #ffffff;
    height: 50px;
    line-height: 30px;
    color:rgba(0, 0, 0, 0.45);
    padding-top: 10px;
    margin-bottom: 50px;
}
@media (max-width: 1024px){
    .breadcrumb-navigation{
        margin-left: 5%;
        padding-left: 15px;
        width: 60%;
    }
    .products-counter{
        margin-left: 0%;
        width: 30%;
        margin-right: 5%;
    }
    .sort-list-title{
        margin-left: 5%;
        padding-left: 15px;
        width: 15%;
    }
    .sort-list-type{
        width: 75%;
    }
    .header-page-control{
        width: 90%;
        margin-left: 5%;
        height: auto;
        padding-bottom: 10px;
        padding-top: 0px;
        line-height: 15px;
        text-align: right;
    }
    .page-control{
        margin-left: 5%;
        padding-left: 15px;
        width: 90%;
    }
}
@media (max-width: 480px){
    .desktop{
        display: none;
    }
    .datashop-title{
        text-align: left;
        font-size: 25px;
        font-weight: bold;
        padding-left: 5%;
        line-height: 30px;
        height: 30px;
    }
    .my-data{
        text-align: right;
        padding-top: 5px;
        padding-left: 0px;
        padding-right: 5%;
        line-height: 30px;
        height: 30px;
    }
    .search-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .top-tab{
        margin-left: 5%;
        width: 100%;
    }
    .breadcrumb-navigation{
        margin-left: 5%;
        padding-left: 15px;
        margin-right: 5%;
        width: 90%;
    }
    .breadcrumb{
        width: 20%;
    }
    .products-counter{
        display: none;
    }
    .sub-search-input-box{
        width: 45%;
    }
    .sort-list-title{
        margin-left: 5%;
        padding-left: 15px;
        width: 30%;
    }
    .sort-list-type{
        width: 60%;
    }
    .header-page-control{
        width: 90%;
        margin-left: 5%;
        height: 40px;
        line-height: 15px;
        text-align: right;
        padding-top: 10px;
    }
    .page-control{
        margin-left: 5%;
        padding-left: 15px;
        width: 90%;
    }
}

@media (min-width: 480px){
    .mobile{
        display: none;
    }
}