<div nz-row>
  <div nz-col nzSpan="7" class="datashop-title">
      数据商城
  </div>
  <div nz-col nzSpan="9" class="search-container">
      <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
        <input type="text" nz-input placeholder="搜索 数据类型， 如：港股、基金、行情" class="search-input-box">
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch class="search-button"><i class="anticon anticon-search"></i></button>
      </ng-template>
  </div>
  <div nz-col nzSpan="8" class="my-data">
      <button nz-button nzSize="large" nzType="default" class="my-data-button"><i class="anticon anticon-user"></i>我的数据</button>
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="9" nzOffset="7" class="top-tab">
      研报 | 沪港通 | 电商 | 股票 | 期权 | 主题 | 新闻
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="13" nzOffset="4" class="breadcrumb-navigation">
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item class="breadcrumb">
        全部
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="breadcrumb">
        <a>沪深股票</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <nz-input-group nzSuffixIcon="anticon anticon-search" class="sub-search-input-box">
          <input type="text" nz-input placeholder="在当前条件下搜索" [nzSize]="small">
        </nz-input-group>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div nz-col nzSpan="3" class="breadcrumb-navigation products-counter">
    共267个相关数据商品
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title">
    分类
  </div>
  <div nz-col nzSpan="12" class="subject-filter">
    <a class="subject-filter-link">基本信息</a>
    <a class="subject-filter-link">财务报表</a>
    <a class="subject-filter-link">业绩预期</a>
    <a class="subject-filter-link">投融资与分红</a>
    <a class="subject-filter-link">重大事项</a>
    <a class="subject-filter-link">股东与股本</a>
    <a class="subject-filter-link">沪港通</a>
    <a class="subject-filter-link">行情</a>
    <a class="subject-filter-link">因子</a>
    <a class="subject-filter-link">风险模型</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter">
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title brand-filter">
    品牌
  </div>
  <div nz-col nzSpan="12" class="subject-filter brand-filter">
    <a class="subject-filter-link">中诚信资讯</a>
    <a class="subject-filter-link">巨灵财经</a>
    <a class="subject-filter-link">TEJ</a>
    <a class="subject-filter-link">IVolatility</a>
    <a class="subject-filter-link">中债</a>
    <a class="subject-filter-link">通联数据</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter brand-filter">
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title price-filter">
    价格
  </div>
  <div nz-col nzSpan="12" class="subject-filter price-filter">
    <a class="subject-filter-link">免费</a>
    <a class="subject-filter-link">计费</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter price-filter">
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title format-filter">
    格式
  </div>
  <div nz-col nzSpan="12" class="subject-filter format-filter">
    <a class="subject-filter-link">api</a>
    <a class="subject-filter-link">研报</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter format-filter">
  </div>
</div>
<div nz-row class="filter-end">
  <div nz-col nzSpan="2" nzOffset="4" class="subject-filter subject-filter-title price-filter">
    更新频率
  </div>
  <div nz-col nzSpan="12" class="subject-filter price-filter">
    <a class="subject-filter-link">实时</a>
    <a class="subject-filter-link">年</a>
    <a class="subject-filter-link">月</a>
    <a class="subject-filter-link">日</a>
    <a class="subject-filter-link">季</a>
    <a class="subject-filter-link">周</a>
    <a class="subject-filter-link">半年</a>
    <a class="subject-filter-link">其他</a>
  </div>
  <div nz-col nzSpan="2"class="subject-filter price-filter">
  </div>
</div>