<div nz-row>
  <div nz-col nzSpan="7" class="datashop-title">
      数据商城
  </div>
  <div nz-col nzSpan="9">
      <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
        <input type="text" nz-input placeholder="搜索 数据类型， 如：港股、基金、行情" class="search-input-box">
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch class="search-button"><i class="anticon anticon-search"></i></button>
      </ng-template>
  </div>
  <div nz-col nzSpan="8" class="my-data">
      <button nz-button nzSize="large" nzType="default" class="my-data-button"><i class="anticon anticon-user"></i>我的数据</button>
  </div>
</div>
